{% extends 'layout.twig' %}

{% block body %}

  {% include "./modules/header.twig" %}

  {% import "./modules/hero.twig" as heroUtils %}
  {{ heroUtils.heroBanner(hero) }}

  {% import "./modules/text-image.twig" as textImageUtils %}
  {{ textImageUtils.textImage(calidadSeguridadCompromiso) }}

  <section class="porque-elegirnos">
    <h2>¿Por qué nos eligen?</h2>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="alertas-card">
            <div class="icon-wrapper">
              <img src="/images/icon-safe.svg" alt="">
            </div>

            <p>Porque brindamos soluciones integrales en seguridad.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="alertas-card">
            <div class="icon-wrapper">
              <img src="/images/icon-chat.svg" alt="">
            </div>

            <p>Trato personalizado con nuestros clientes en todo momento.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="alertas-card">
            <div class="icon-wrapper">
              <img src="/images/icon-people.svg" alt="">
            </div>

            <p>Damos respuesta inmediata antes cualquier eventualidad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ textImageUtils.imageText(estamosParaAyudarte) }}

  {% include "./modules/trabajar-en-alertas.twig" %}

  <a class="btn-whatsapp" href="https://wa.me/5491135605012">
    <img src="/images/icon-whatsapp.png" alt="">
  </a>

  {% include "./modules/footer.twig" %}
{% endblock %}
