<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="icon-wrapper">
          <img src="/images/logo-alertas.png" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <p>Buenos Aires, Argentina</p>
        <p><strong>Líneas telefónicas: </strong>+54 9 11 3581-5718 | +54 9 11 3580-5780</p>
        <p><strong>Líneas exclusiva WhatsApp: </strong>+54 9 11 3560-5012</p>
        <p><strong>Tel/Fax: </strong>+54 11 4921 0568</p>
        <p>Copyright © 2022 Alertas Seguridad Privada - All Rights Reserved.</p>
      </div>
      <div class="col-md-2">
        <div class="redes-sociales">
          <div class="redes-sociales-wrapper">
            <a href="#">
              <img src="/images/icon-facebook.svg" alt="Alertas Seguridad Privada - Facebook">
            </a>
            <a href="#">
              <img src="/images/icon-linkedin.svg" alt="Alertas Seguridad Privada - LinkedIn">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>