<section class="trabajar-en-alertas">
  <div class="content-wrapper">
    <img src="/images/logo-alertas-2.png" alt="">
    <h3>¿Querés trabajar con Alertas Seguridad Privada?</h3>
    <p>Completá el formulario de R.R.H.H.</p>
    <a class="alertas-btn-secondary" href="/contacto">CONTACTAR</a>
  </div>
</section>